body{
	background-image : url("img/dogdog.jpg");
	background-repeat : no-repeat;
	background-position : right top;
	background-attachment : fixed;
}

caption{
	color : white;
}

.line1 {
	color : red;
	background-color : black;
}

table {
	background-color : black;
	text-align : center;
	width: 60%;
}

.line2 {
	background-color : white;
	color : yellow;
	opacity : 0.5;
}

.line3 {
	background-color : white;
	color : yellow;
	opacity : 0.25;
}

